lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid

.idea/
.grunt/
node_modules/
components/
Gruntfile.js

lib/*.js

spec/tests/*Spec.js
spec/helpers/*Helper.js

pids
logs
results

npm-debug.log

.DS_Store
